page-buy-ticket {
    .data-information {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .information-grid {
        display: inline-flex;
    }
    ion-card img {
        width: 250px;
        
    }
    .information-row {
        width: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 70px;
    }
}
