page-list-master {

}

.counter {	
    background-color: #FC3645;
    height: 20px;	
    width: 100%;	
    color: #FFF;	
    font-family: "SF Pro Text";	
    font-size: 20px;	
    font-weight: 700;	
    line-height: 20px;	
    text-align: center;
}
.older-price {
    height: 24px;	
    width: 37.41px;	
    color: #B9B9B9;	
    font-family: "SF Pro Text";	
    font-size: 20px;	
    line-height: 24px;
    text-decoration:line-through;
    margin-left: 20px;
}
.actual-price {
    height: 36px;	
    width: 43.41px;	
    color: #F3CA3E;	
    font-family: "SF Pro Text";	
    font-size: 30px;	
    font-weight: 700;	
    line-height: 36px;
    margin-left: 15px;
}
.buy {
    height: 30.77px;	
    width: 84.72px;	
    background-color: #0E3448;
    margin-left: 25px;
    position: absolute;
    top: 320px;
}
.buy-two {
    height: 30.77px;	
    width: 84.72px;	
    background-color: #0E3448;
    margin-left: 25px;
    position: absolute;
    top: 682px;
}

